<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784221922901-jrtr1qmi80q5kcmu0rrvsrvjegvi87mt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784221922901-jrtr1qmi80q5kcmu0rrvsrvjegvi87mt</string>
	<key>API_KEY</key>
	<string>AIzaSyCaEuh-ubF4dGqZKWH8CpoDi1qWA5_AnD0</string>
	<key>GCM_SENDER_ID</key>
	<string>784221922901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ecostance.ecostance1</string>
	<key>PROJECT_ID</key>
	<string>netcarbons-6daf2</string>
	<key>STORAGE_BUCKET</key>
	<string>netcarbons-6daf2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784221922901:ios:bd1bf2f680a490f4b516dc</string>
</dict>
</plist>